.container {
    width: 100%;
    bottom: 0px;
    position: fixed;
    animation: 500ms ease-out move-up-down;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: var(--surface-0);
    box-shadow: var(--box-shadow);
    z-index: 2;
}

.content {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.duration {
    width: 0;
    height: 3px;
    display: block;
    background-color: var(--primary-0);
    animation: 3s linear flash-duration;
}

.button {
    background: none;
    color: var(--text-30);
}

.button:hover {
    background: none;
    color: var(--text-0);
}

@keyframes move-up-down {
    0% {
      transform: translateX(-50%) translateY(200%);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
}

@keyframes flash-duration {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}


@media (min-width: 992px) {
    .container {
        width: var(--width);
        bottom: 10px;
        border-radius: 5px;
    }
}
