.container {
    position: relative;
    display: inline-block;
}

.tooltip {
    z-index: 999;
    padding: 5px 10px;
    bottom: calc(100% + 5px);
    width: max-content;
    position: absolute;
    border-radius: 10px;
    pointer-events: none;

    left: 50%;
    transform: translateX(-50%) scale(0.8);

    transition: .2s;
    visibility: hidden;
    opacity: 0;
}

.tooltip.visible {
    bottom: calc(100% + 15px);
    visibility: visible;
    opacity: 1;
    scale: 1;
    transform: translateX(-50%) scale(1);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: var(--tooltip-arrow-border-color);
    display: block;
    width: 0;
    height: 0;
}

.text {
    text-align: center;
}
