.header {
    width: var(--width);
    height: 75px;
    margin: 0 auto;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 100%;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    color: var(--text-20);
}

.logo:hover {
    text-decoration: none;
    color: var(--text-0);
}

.list,
.dropdown {
    width: 100%;
    height: 100%;
    padding: 0 15px 15px 15px;
    left: 0;
    gap: 5px;
    z-index: 999;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-0);

    transition: .2s;
    opacity: 0;
    transform: translateX(30px);
}

.list {
    top: 75px;
}

.dropdown {
    top: 0;
}

.list.active,
.dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.list:has(.dropdown.active) {
    opacity: 1;
    transform: translateX(0px);
}

.item {
    width: 100%;
    list-style-type: none;
}

.item:not(:last-child) {
    border-bottom: 1px solid var(--surface-10);
}

.link,
.button {
    gap: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px 40px;
    border-radius: var(--border-radius-2x);
    text-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-20);
    background: none;
}

.button.active {
    color: var(--text-0);
}

.link:hover,
.button:hover {
    color: var(--text-0);
    text-decoration: none;
    background-color: var(--surface-10);
}

.icon {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-20);
    background: none;
}

.icon:hover {
    color: var(--text-0);
    background-color: var(--surface-10);
}

@media (min-width: 768px) {

    .list {
        width: fit-content;
        height: auto;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0;
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .dropdown {
        padding: 5px;
        height: auto;
        top: calc(100% + 10px);
        width: max-content;
        background-color: var(--surface-10);
        border-radius: calc(var(--border-radius) + 5px);
        border: 1px solid var(--surface-20);
        box-shadow: var(--box-shadow);
        transform: translate(0, -15px);
        scale: 0.9;
    }

    .dropdown.active {
        transform: translate(0, 0);
        scale: 1;
    }

    .dropdown .item:not(:last-child) {
        border-bottom: 1px solid var(--surface-20);
    }

    .item {
        position: relative;
    }

    .item.back {
        display: none;
    }

    .list .item {
        border-bottom: none;
    }

    .link,
    .button {
        margin-bottom: 0;
        padding: 10px 20px;
        background: none;
    }

    .dropdown .item:not(:last-child) .link,
    .dropdown .item:not(:last-child) .button {
        margin-bottom: 5px;
    }

    .dropdown .link:hover,
    .dropdown .button:hover {
        background-color: var(--surface-20);
    }

    .link.active,
    .button.active,
    .link:hover,
    .button:hover {
        background-color: var(--surface-10);
    }

    .hamburger {
        display: none;
    }
}