.container {
    display: flex;
    flex-direction: column;
}

.minimized-width,
.full-width {
    margin: 0 auto;
    width: var(--width);
}

.small-spacing {
    row-gap: 10px;
}

.normal-spacing {
    row-gap: 25px;
}

.large-spacing {
    row-gap: 50px;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-0);
}

.overlay-primary {
    position: relative;
}

.overlay-primary::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--primary-0);
    opacity: 0.05;
    pointer-events: none;
}

.button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--gray-0);
    background-color: var(--primary-0);
}

.button:hover {
    text-decoration: none;
    background-color: var(--primary-10);
}

@media (min-width: 768px) {
    .minimized-width {
        width: calc(var(--width) - 20%);
    }
}
