.container {
    display: flex;
    flex-direction: column;
}

.minimized-width,
.full-width {
    margin: 0 auto;
    width: var(--width);
}

.small-spacing {
    row-gap: 10px;
}

.normal-spacing {
    row-gap: 30px;
}

.large-spacing {
    row-gap: 50px;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-0);
}

.background-primary::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--primary-0);
    opacity: 0.05;
    pointer-events: none;
}

@media (min-width: 768px) {
    .minimized-width {
        width: calc(var(--width) - 20%);
    }
}