:root {
    --primary-0: #0080ff;
    --primary-10: #4a8dff;
    --primary-20: #6b9aff;
    --primary-30: #85a8ff;
    --primary-40: #9cb6ff;
    --primary-50: #b2c4ff;

    --secondary-0: #1a1426;
    --secondary-10: #2f293b;
    --secondary-20: #464050;
    --secondary-30: #5e5867;
    --secondary-40: #77727e;
    --secondary-50: #908c97;

    --surface-0: #121212;
    --surface-10: #282828;
    --surface-20: #3f3f3f;
    --surface-30: #575757;
    --surface-40: #717171;
    --surface-50: #8b8b8b;

    --gray-0: #ffffff;
    --gray-10: #e6e6e6;
    --gray-20: #cccccc;
    --gray-30: #b3b3b3;
    --gray-40: #999999;
    --gray-50: #808080;

    --text-0: var(--gray-0);
    --text-10: var(--gray-10);
    --text-20: var(--gray-20);
    --text-30: var(--gray-30);
    --text-40: var(--gray-40);
    --text-50: var(--gray-50);

    --width: calc(100% - 30px);
}

[lightTheme] {
    --surface-0: #ffffff;
    --surface-10: #e6e6e6;
    --surface-20: #cccccc;
    --surface-30: #b3b3b3;
    --surface-40: #999999;
    --surface-50: #808080;

    --text-0: #282828;
    --text-10: #3f3f3f;
    --text-20: #575757;
    --text-30: #717171;
    --text-40: #8b8b8b;
    --text-50: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", serif;
    scroll-behavior: smooth;
}

html,
body,
#root {
    min-width: 350px;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--surface-0);
}

#root {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--text-0);
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

p,
li,
a,
button {
    font-size: 18px;
}

p,
li {
    color: var(--text-20);
}

li {
    list-style-position: inside;
}

a {
    display: inline-block;
    text-decoration-line: none;
    color: var(--primary-0);
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    gap: 10px;
    display: grid;
    grid-auto-flow: row;
}

img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--gray-0);
    background-color: var(--primary-0);
}

button:hover{
    background-color: var(--primary-10);
}


@media (min-width: 992px) {
    :root {
        --width: 900px;
    }
}

@media (min-width: 1200px) {
    :root {
        --width: 1150px;
    }
}