.container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 75%;
    border-radius: 50%;
}

.location {
    color: var(--text-50);
}

.description {
    text-align: center;
}

.links {
    gap: 10px;
    display: flex;
}

@media (min-width: 576px) {
    .container {
        flex-direction: row;
    }

    .content {
        align-items: start;
    }

    .image {
        width: 175px;
    }

    .description {
        text-align: left;
    }
}