.grid {
    gap: 50px 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.cell {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.image {
    filter: brightness(0.8);
    transition: 200ms;
    aspect-ratio: 16/9;
}

.content {
    width: 100%;
    padding: 15px;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 200ms;
    position: absolute;
    backdrop-filter: brightness(60%);
}

.languages {
    gap: 5px;
    display: flex;
    overflow-x: auto;
}

.language {
    padding: 3px;
    width: fit-content;
    font-size: 16px;
    color: var(--gray-0);
    border-radius: 3px;
    background-color: var(--secondary-0);
}

.title {
    color: var(--gray-0);
}

.description {
    color: var(--gray-20);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categories button {
    border: none;
    color: var(--text-0);
    background: none;
    border: 1px solid var(--surface-10);
}

.categories button:not(.active):hover {
    background-color: var(--surface-10);
}

.categories button.active:hover {
    background-color: var(--primary-10);
}

.categories button.active {
    background: var(--primary-0);
    color: var(--gray-0);
    border: 1px solid var(--primary-0);
}

@media (min-width: 768px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        bottom: -41px;
    }

    .cell:hover .content {
        bottom: 0;
    }

    .cell:hover .image {
        transform: scale(1.2);
    }

}