.grid {
    gap: 50px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
}

.cell {
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.image {
    filter: brightness(0.8);
    transition: 200ms;
    aspect-ratio: 16/9;
}

.content {
    width: 100%;
    padding: 15px;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 200ms;
    position: absolute;
    backdrop-filter: brightness(60%);
}

.languages {
    gap: 5px;
    display: flex;
    overflow-x: auto;
}

.language {
    padding: 3px 10px;
    width: fit-content;
    font-size: 16px;
    color: var(--gray-0);
    border-radius: var(--border-radius-2x);
    background-color: var(--secondary-0);
}

.title {
    color: var(--gray-0);
}

.description {
    color: var(--gray-20);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categories button {
    flex-grow: 1;
    color: var(--text-0);
    background: none;
    border: 1px solid var(--surface-10);
}

.categories button:not(.active):hover {
    background-color: var(--surface-0);
}

.categories button.active {
    background: var(--primary-0);
    color: var(--gray-0);
    border: 1px solid transparent;
}

@media (min-width: 768px) {

    .content {
        bottom: -47px;
    }

    a:has(.cell):focus {
        outline: 2px solid var(--primary-0);
        border-radius: var(--border-radius);
    }

    .cell:hover .content,
    a:has(.cell):focus .content {
        bottom: 0;
    }

    .cell:hover .image,
    a:has(.cell):focus .image {
        transform: scale(1.2);
    }

}