.grid {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.cell {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.image {
    filter: brightness(0.6);
    transition: 200ms;
    aspect-ratio: 16/9;
}

.content {
    width: 100%;
    padding: 15px;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 200ms;
    position: absolute;
}

.languages {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

.language {
    padding: 3px;
    width: fit-content;
    font-size: 16px;
    color: var(--gray-0);
    border-radius: 3px;
    background-color: var(--secondary-0);
}

.title {
    color: var(--gray-0);
}

.description {
    color: var(--gray-20);
}

@media (min-width: 768px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        bottom: -41px;
    }

    .cell:hover .content {
        bottom: 0;
    }

    .cell:hover .image {
        transform: scale(1.1);
    }
}