:root {
    --error: #ff0033;
    --error-background: rgba(255, 0, 51, 0.1);
}

.container {
    padding: 150px 15px 0px 15px;
}

.error {
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: var(--error-background);
}

.title {
    color: var(--error);
}

.description {
    color: var(--error);
}
