.quote-container {
    padding: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.container {
    gap: 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    flex-grow: 1;
    width: 300px;
    background-color: var(--surface-10);
    border-radius: 20px;
}

.content {
    padding: 15px;
}

.content * {
    text-align: center;
}

.dungeons {
    color: #00aa00;
}

.catacombs {
    color: #ffaa00;
}

.caverns {
    color: #00aaaa;
}

.volcano {
    color: #ff5555;
}
