.container {
    position: relative;
    padding: 50px 0;
    margin: 200px 0;
}

.grid {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cell {
    border-radius: var(--border-radius);
    padding: 15px;
    background-color: var(--surface-10);
}

.waves {
    min-width: 1920px;
    position: absolute;
    opacity: 0.075;
    z-index: -1;
}

.top {
    bottom: 100%;
    filter: drop-shadow(0 -25px 0 color-mix(in srgb, var(--primary-0) 50%, transparent 50%));
}

.bottom {
    top: 100%;
    filter: drop-shadow(0 25px 0 color-mix(in srgb, var(--primary-0) 50%, transparent 50%));
}