.link {
    display: block;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--primary-0);
    border: 1px solid var(--primary-0);
}

.link:hover {
    color: var(--gray-0);
    background-color: var(--primary-0);
    text-decoration: none;
}
