.link {
    width: 41px;
    height: 41px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    color: var(--primary-0);
    border: 1px solid var(--primary-0);
}

.link:hover {
    color: var(--gray-0);
    background-color: var(--primary-0);
    text-decoration: none;
}
