footer {
    width: 100%;
    height: 100px;
    margin-top: auto;
    padding: 25px 0;
}

.container {
    width: var(--width);
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    gap: 10px;
    display: flex;
}
