.skeleton {
    border-radius: var(--border-radius);
    animation: pulse 1.2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 35px;
    width: 30%;
    min-width: 150px;
}

.description {
    height: 20px;
    width: 50%;
    min-width: 200px;
}

.heading {
    height: 35px;
    width: 60%;
    min-width: 200px;
}

.text {
    height: 20px;
    width: 90%;
    min-width: 250px;
}

.image {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: var(--border-radius);
}

.image-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.button {
    height: 45px;
    width: 120px;
    border-radius: var(--border-radius-2x);
}

.button-circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.image-icon {
    font-size: 50px;
}

.input {
    height: 35px;
    width: 100%;
    min-width: 200px;
}

@keyframes pulse {
    0% {
        background-color: var(--skeleton-base-color);
    }
    50% {
        background-color: var(--skeleton-pulse-color);
    }
    100% {
        background-color: var(--skeleton-base-color);
    }
}