.container {
    margin-top: 100px;
}

.grid {
    gap: 50px 30px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.cell {
    position: relative;
}

.content {
    padding: 20px;
    border-radius: 5px;
    border-radius: 25px;
    background-color: var(--surface-10);
}

.date {
    font-size: 16px;
    color: var(--text-50);
}

.empty {
    display: none;
}

.line {
    width: 3px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    background-image: linear-gradient(
        to bottom, 
        var(--surface-0) 0%, 
        var(--primary-0) 5%,
        var(--primary-0) 95%, 
        var(--surface-0) 100%
    );
}

.circle {
    width: 20px;
    height: 20px;
    top: -8px;
    left: -29px;
    border-radius: 50%;
    border: 2px solid var(--surface-0);
    position: absolute;
    background-color: var(--primary-0);
    transition: scale .2s;
    cursor: pointer;
}

.circle:hover {
    scale: 1.5;
}

@media (min-width: 768px) {
    .grid {
        margin: 50px 0;
        padding-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .empty {
        display: block;
    }

    .cell:nth-child(even) .circle {
        left: unset;
        right: -24px;
    }

    .cell:nth-child(odd) .circle {
        left: -25px;
        right: unset;
    }

    .line {
        left: calc(50% - 2px)
    }
}