.container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 15px;
    box-shadow: var(--box-shadow);
    background-color: var(--surface-0);
    z-index: 1;
}

.close {
    position: absolute;
    padding: 0;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background: none;
    color: var(--text-30);
}

.close:hover {
    background: none;
    color: var(--text-0);
}

@media (min-width: 768px) {
    .container {
        width: var(--width);
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 500px;
        left: auto;
        transform: none;
        right: 15px;
    }
}
